.table {
  position: relative;
  thead {
    tr {
      border-bottom: 1px dotted #999;
      th {
        text-transform: capitalize;
        white-space: nowrap;
        font-size: 0.95em;
        padding: 0.84rem 0;
        sup {
          position: absolute;
          transform: translate(3px, -5px);
          font-weight: 300;
        }
      }
    }
  }
  tbody {
    height: 100vh;
    display: block;
    overflow: auto;
    max-height: calc((var(--vh) * 100) - (2rem + 46px + 56px));
    tr {
      border-radius: 0.3rem;
      border-bottom: 1px solid #ddd;
      &:hover {
        background: #ececec;
      }
      &:last-child {
        // margin-bottom: 0.5rem;
      }
    }
  }
  tr {
    padding: 0 1rem;
    grid-auto-flow: column;
    display: grid;
    td {
      padding: 1rem 0;
      position: relative;
      margin: auto 0;
      sup {
        position: absolute;
        transform: translate(3px, -5px);
      }
    }
    &.trContext {
      z-index: 1;
      .ctxMenu {
        position: absolute;
        z-index: 10;
        .backDrop {
          z-index: -10;
          position: fixed;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
        }
        .menu {
          position: fixed;
          z-index: 10;
          background: rgba(0, 0, 0, 0.8);
          color: white;
          border-radius: 5px;
          list-style: none;
          overflow: hidden;
          li {
            white-space: nowrap;
            text-align: left;
            padding: 0.5rem 1rem;
            cursor: pointer;
            &:hover {
              background: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
    &.loadingTr {
      pointer-events: none;
      padding: 1.25rem 0.9rem;
      td {
        margin: auto;
        margin-right: 0;
        border-radius: 2rem;
        max-width: 60%;
        width: 100%;
        padding: 0rem;
        height: 1rem;
        background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.05) 20%,
          rgba(#f6f6f6, 0.5) 50%,
          rgba(0, 0, 0, 0.05) 80%
        );
        animation: shine-lines 3s infinite linear;
      }
    }
  }
  .hr {
    border: none;
    border-bottom: 1px solid #aaa;
  }
  &.empList {
    tr {
      grid-template-columns: 4rem 0.34fr 0.33fr 0.33fr;
      th:first-child,
      td:first-child {
        text-align: left;
      }
      th,
      td {
        text-align: right;
        white-space: nowrap;
      }
      .lastQnt,
      .qnt {
        font-size: 0.8em;
        display: block;
        color: rgba(0, 0, 0, 0.6);
      }
      .paid {
        color: rgb(27, 182, 61);
      }
      .deu {
        font-size: 0.8rem;
        display: block;
        color: red;
      }
    }
    .loadingTr {
      td:first-child {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  &.empWork {
    tbody {
      tr {
        padding: 0.5rem 1rem;
      }
    }
    tr {
      grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
      th:first-child,
      td:first-child,
      th:nth-child(2) {
        text-align: left;
      }
      th {
        text-align: right;
      }
      td {
        grid-row: auto;
        text-align: right;
      }
      .date:not(.single),
      .paid:not(.single) {
        grid-row: 1 / span 10;
      }
      .dress,
      .qnt,
      .total {
        padding: 0.45rem 0;
      }
      .derss:first-child {
        background: red !important;
      }
      .dress {
        grid-column: 2/3;
        text-align: left;
      }
      .qnt {
        grid-column: 3/4;
      }
      .total {
        grid-column: 4/5;
      }
      .paid {
        grid-column: 5/6;
      }
    }
  }
  &.bills {
    tr {
      grid-template-columns: 0.3fr 0.2fr 0.7fr 0.25fr 0.4fr;
      text-align: right;
      .date,
      .ref,
      .dress {
        text-align: left;
      }
    }
  }
  &.singleBill {
    thead {
      tr {
        grid-template-rows: 1fr 1fr;
        .gred {
          grid-area: 1 / 1 / span 1 / span 4;
          background: linear-gradient(
            350deg,
            rgba(0, 240, 27, 0.2) 0%,
            rgba(182, 1, 1, 0) 100%
          );
          margin: 0 -1.2rem;
        }
        .ref {
          text-align: left;
          grid-area: 1 / 1 / span 1 / span 2;
        }
        .date {
          text-align: right;
          grid-area: 1 / 3 / span 1 / span 2;
        }
        .dress {
          text-align: left;
          grid-area: 2 / 1 / span 1 / span 1;
        }
        .qnt {
          text-align: left;
        }
        th {
          text-align: right;
        }
      }
    }
    tr {
      grid-template-columns: 0.5fr 0.3fr 0.25fr 0.3fr;
      td {
        text-align: right;
      }
      .dress,
      .qnt {
        text-align: left;
      }
      .deduction {
        padding-right: 1rem;
      }
      .final {
        grid-column: 4/5;
      }
      &.total {
        grid-template-columns: 1fr;
      }
    }
    tbody {
      max-height: calc((var(--vh) * 100) - (2rem + 56px + 91px));
    }
  }
  &.costings {
    tr {
      grid-template-columns: 0.06fr 0.3fr 0.3fr 0.2fr 0.2fr;
      th,
      td {
        text-align: right;
      }
      .lot,
      .note,
      .dress {
        text-align: left;
      }
    }
  }
  &.singleCosting {
    thead {
      tr {
        grid-template-rows: 1fr 1fr;
        .back {
          grid-area: 1 / 1 / span 1 / span 4;
          background: linear-gradient(
            350deg,
            rgba(0, 240, 27, 0.2) 0%,
            rgba(182, 1, 1, 0) 100%
          );
          margin: 0 -1.2rem;
        }
        .lot {
          text-align: left;
          grid-area: 1 / 1 / span 1 / span 1;
        }
        .lotSize {
          text-align: left;
          grid-area: 1 / 2 / span 1 / span 1;
        }
        .date {
          text-align: right;
          grid-area: 1 / 3 / span 1 / span 2;
        }
        .material {
          text-align: left;
        }
        th {
          text-align: right;
        }
      }
    }
    tbody {
      max-height: calc((var(--vh) * 100) - (2rem + 86px + 56px));
    }
    tr {
      grid-template-columns: 0.4fr 0.2fr 0.2fr 0.2fr;
      .material {
        text-align: left;
      }
      td {
        text-align: right;
      }
      .totalCostLabel,
      .perUnitLabel {
        grid-column: 1/4;
      }
      .totalCost,
      .perUnit {
        grid-column: 4/5;
      }
    }
    .img {
      grid-template-columns: 1fr;
      position: relative;
      td {
        height: 6rem;
      }
    }
  }
  &.lots {
    tbody {
      tr {
        padding: 0.5rem 1rem;
      }
    }
    tr {
      grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
      th:first-child,
      td:first-child,
      th:nth-child(2) {
        text-align: left;
      }
      th {
        text-align: right;
      }
      td {
        grid-row: auto;
        text-align: right;
      }
      .date {
        grid-column: 1/2;
      }
      .date:not(.single),
      .total:not(.single) {
        grid-row: 1/20;
      }
      .dress {
        grid-column: 2/3;
        text-align: left;
      }
      .qnt {
        grid-column: 3/4;
      }
      .total {
        grid-column: 4/5;
      }
      .dress,
      .qnt,
      .total {
        padding: 0.5rem 0;
      }
    }
  }
  &.fabrics {
    tr {
      grid-template-columns: 0.3fr 0.4fr 0.3fr;
    }
    text-align: left;
    .usage {
      text-align: right;
    }
    td {
      span {
        display: block;
        color: #777;
        font-size: 0.8rem;
      }
    }
  }
  &.singleFabric {
    tr {
      grid-template-columns: 1fr 1fr;
      .qnt,
      .totalUsage {
        text-align: right;
      }
    }
    thead {
      tr {
        grid-template-rows: 1fr min-content;
        .back {
          position: relative;
          img {
            opacity: 0.3;
          }
          grid-area: 1 / 1 / span 1 / span 2;
          background: linear-gradient(
            350deg,
            rgba(0, 240, 27, 0.2) 0%,
            rgba(182, 1, 1, 0) 100%
          );
          margin: 0 -1.2rem;
        }
        .name {
          text-align: left;
          grid-area: 1 / 1 / span 1 / span 1;
        }
        .date {
          text-align: right;
          grid-area: 1 / 2 / span 1 / span 1;
        }
        .name,
        .date {
          z-index: 1;
        }
        .lot {
          text-align: left;
        }
        th {
          text-align: right;
          span {
            display: block;
            font-weight: 400;
            font-size: 0.9rem;
          }
        }
      }
    }
    tbody {
      max-height: calc((var(--vh) * 100) - (2rem + 111px + 56px));
    }
    td {
      span {
        display: block;
        font-size: 0.85rem;
        color: #777;
        font-style: italic;
      }
    }
  }
}
.productions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .production {
    border-right: 1px solid #888;
  }
  .production,
  .payment {
    tbody {
      max-height: calc((var(--vh) * 100) - (2rem + 50px + 56px));
    }
    tr {
      grid-template-columns: 1fr 1fr;
      th {
        padding: 0.5rem 0;
        display: grid;
        align-items: center;
        span {
          display: block;
          font-size: 0.8rem;
          color: #666;
          font-weight: 400;
        }
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
      td {
        padding: 0.5rem 0;
        span {
          display: block;
          font-size: 0.8rem;
          color: #666;
        }
      }
      .total,
      .amount {
        text-align: right;
        grid-column: 2/3;
      }
      .date {
        grid-row: 1/10;
      }
    }
  }
  .payment {
    tbody {
      tr:not(.hr) {
        padding: 0.4rem 1rem;
        .amount {
          padding: 0.25rem 0;
        }
      }
      .past {
        padding: 0.5rem 1rem;
        background: linear-gradient(
          153deg,
          rgba(240, 223, 1, 0.2) 0%,
          rgba(182, 1, 1, 0) 100%
        );
      }
    }
  }
  .totalRecieved {
    background: linear-gradient(
      153deg,
      rgba(0, 240, 27, 0.2) 0%,
      rgba(182, 1, 1, 0) 100%
    );
  }
  .totalDeu {
    background: linear-gradient(
      153deg,
      rgba(240, 1, 27, 0.2) 0%,
      rgba(182, 1, 1, 0) 100%
    );
  }
  .total {
    padding: 0.5rem 1rem;
  }
  .wages {
    tr {
      grid-template-columns: 1fr 1fr;
      text-align: left;
      th:last-child,
      .amount {
        text-align: right;
      }
    }
  }
}

.sampleImg {
  height: 100vh;
  width: calc(100vw - 2rem);
  max-height: calc((var(--vh) * 100) - 2rem);
  position: relative;
  & > div {
    img {
      filter: drop-shadow(0 0 0.5rem rgba(#000, 0.2));
    }
  }
}
.unauthorized {
  display: grid;
  place-items: center;
  text-align: center;
  color: #555;
  ion-icon {
    font-size: 4rem;
    transform: rotate(10deg);
  }
}

@media only screen and (max-width: 480px) {
  .table {
    tbody {
      max-height: calc((var(--vh) * 100) - (1rem + 46px + 56px));
    }
    .loadingTr {
      td {
        max-width: 70%;
      }
    }
    &.bills {
      tr {
        grid-template-columns: 4.5rem 2.5rem 1fr 2.5rem 5.5rem;
      }
    }
  }
  .productions {
    .production,
    .payment {
      tbody {
        max-height: calc((var(--vh) * 100) - (1rem + 50px + 56px));
      }
    }
  }
  .singleBill {
    tbody {
      max-height: calc((var(--vh) * 100) - (1rem + 56px + 91px));
    }
  }
  .singleCosting {
    tbody {
      max-height: calc((var(--vh) * 100) - (1rem + 86px + 56px));
    }
  }
  .singleFabric {
    tbody {
      max-height: calc((var(--vh) * 100) - (1rem + 111px + 56px));
    }
  }
  .production {
    .payment {
      tbody {
        max-height: calc((var(--vh) * 100) - (1rem + 50px + 56px));
      }
    }
  }
  .sampleImg {
    max-height: calc((var(--vh) * 100) - 1rem);
  }
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 100px;
  }
}
