.container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  height: min-content;
  overflow-y: auto;
  max-height: calc((var(--vh) * 100) - (1rem + 54px));
  a {
    border-radius: 0.25rem;
    height: min-content;
    min-width: 12rem;
    flex: 1;
    padding: 1rem;
    border: 1px solid #aaa;
  }
  .pastWeek,
  .pastYear {
    border-radius: 0.25rem;
    padding: 1rem;
    border: 1px solid #aaa;
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-row-gap: 0.3rem;
    label,
    .label {
      grid-column: 1/4;
      text-align: center;
      display: flex;
      justify-content: center;
      grid-gap: 1rem;
    }
    div {
      text-align: center;
      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    .lot {
      sup {
        color: red;
      }
    }
    sup {
      font-weight: 400;
      padding: 0 0.2rem;
    }
    &.loading {
      .label,
      label {
        text-align: center;
        height: 1.2rem;
        width: 7rem;
        margin: auto;
        background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.05) 20%,
          rgba(#f6f6f6, 0.5) 50%,
          rgba(0, 0, 0, 0.05) 80%
        );
        animation: shine-lines 3s infinite linear;
      }
      .qty,
      .lot,
      .paid {
        h3 {
          font-size: 2rem;
          background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.05) 20%,
            rgba(#f6f6f6, 0.5) 50%,
            rgba(0, 0, 0, 0.05) 80%
          );
          animation: shine-lines 3s infinite linear;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        p {
          margin: auto;
          height: 0.8rem;
          width: 5rem;
          background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.05) 20%,
            rgba(#f6f6f6, 0.5) 50%,
            rgba(0, 0, 0, 0.05) 80%
          );
          animation: shine-lines 3s infinite linear;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    .pastWeek,
    .pastYear {
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
      label,
      .label {
        grid-column: 1/2;
      }
      div {
        margin: auto;
        text-align: center;
        // display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 2rem;
        // text-align: left;
        h3 {
          margin: 0;
          flex-basis: 35%;
        }
      }
    }
  }
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 100px;
  }
}
