@import "nprogress.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  word-wrap: break-word;
  font-family: "roboto", "SolaimanLipi", sans-serif;
  background-image: linear-gradient(140deg, #00f260, #0575e6);
  color: #333;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  #__next {
    height: 100vh;
    // height: calc((var(--vh) * 100));
    width: 100%;
  }
}
button {
  font-family: "roboto", "SolaimanLipi", sans-serif;
  letter-spacing: 0.1em;
}

::selection {
  background: rgb(96, 255, 121);
}
@media (min-width: 480px) {
  ::-webkit-scrollbar {
    width: 4px;
    left: 0;
    border-radius: 5rem;
  }
  ::-webkit-scrollbar-thumb {
    width: 8px;
    background: rgba(72, 158, 228, 0.5);
    border-radius: 5rem;
  }
}
.container {
  transition: height 0.2s ease-in-out;
  height: calc((var(--vh) * 100) - 2rem);
  width: calc(100% - 2rem);
  max-width: 36rem;
  background: #f6f6f6;
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  .innerContainer {
    height: 100%;
    width: calc(100% + 9rem);
    position: relative;
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 3.5rem auto;
    grid-template-areas:
      "s h"
      "s t";
    left: -9rem;
    transition: left 0.5s cubic-bezier(0.12, 0.1, 0.11, 1.03);
  }
}

input,
textarea {
  font-family: "roboto", "SolaimanLipi", sans-serif;
}

@media only screen and (max-width: 480px) {
  .container {
    height: calc((var(--vh) * 100) - 1rem);
    margin: 0.5rem auto;
    width: calc(100% - 1rem);
    border-radius: 1rem;
    .innerContainer {
      left: -10rem;
      width: calc(100% + 10rem);
    }
  }
}

.sidebar_span {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background 0.5s;
  z-index: 8;
  &.active {
    pointer-events: all;
    background: rgba(0, 0, 0, 0.5);
  }
}

a {
  color: inherit;
  text-decoration: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#portal {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "main";
  place-items: center;
  pointer-events: none;
  * {
    pointer-events: all;
  }
  .modalBackdrop {
    height: 100%;
    width: 100%;
    grid-area: main;
    background: rgba(0, 0, 0, 0.2);
  }
  .modal {
    z-index: 10;
    grid-area: main;
    & ~ .modalBackdrop {
      z-index: 10;
      & ~ .modal {
        z-index: 10;
      }
    }
  }
}
