.container {
  grid-area: 1 / 1 / span 2 / span 2;
  padding-left: 9rem;
  z-index: 10;
  background: rgb(96, 140, 255);
  display: grid;
  .innerWrapper {
    display: grid;
    max-height: 70vh;
    height: 100%;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 16rem;
    h1 {
      color: white;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 0.25em;
      text-align: center;
    }
    p {
      opacity: 0.7;
      font-weight: 300;
      font-size: 0.9rem;
      letter-spacing: 0.48em;
      text-indent: 0.5em;
      color: white;
      text-align: center;
      cursor: pointer;
    }
  }
}
.viwerForm {
  display: grid;
  grid-gap: 1.5rem;
  color: white;
  section {
    label {
      color: rgba(255, 255, 255, 0.69) !important;
    }
    input {
      color: white;
      background: none;
      border-color: white;
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        background: none;
        -webkit-text-fill-color: white;
        background-color: rgba(255, 255, 255, 0.26);
        transition: background-color 5000s ease-in-out 0s;
      }
      caret-color: white;
    }
  }
  button {
    background: none;
    border-radius: 0;
    border: 2px solid rgba(255, 255, 255, 0.7);
    &:hover {
      background: rgba(255, 255, 255, 0.8);
      color: rgb(96, 140, 255);
    }
  }
}

.adminForm {
}
